html, body {
  background-color: #282828;
  padding: 0px;
}

main {
  padding: 0px;
}

canvas {
  display: block;
}

h1 {
  color: #dcdcdc;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}

p {
  color: #dcdcdc;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

img {
  float: right;
  border-radius: 10%;
  display: block;
}

header {
  background-color: #141414;
  padding: 1px;
  border-radius: 97px;
  width: 36%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#bodyContainer {
  display: table;
  margin: 20px;
}

#bodyParagraphText {
  width: 60%;
  display: table-cell;
  float: right;
  transform: translateY(70px);
}

#bodyImage {
  display: table-cell;
  float: right;
}

#bodyHeaderText {
  width: 40%;
  display: table-cell;
  float: left;
}